@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-family: "Outfit", sans-serif;
    font-family: "Poppins", sans-serif;
}
:root{
    --color-principal: #0872bf;
    --color-secundario: #FDFDFD;

}
body{
    background-color:  #141a1a;
}
main{
    padding: 0 40px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 40px;
}
.header-wrp{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    gap: 20px;
}
.header-left-title{
    color: var(--color-secundario);
    font-size: 28px;
    font-weight: 600;
}
.header-right ul{
    display: flex;
    gap: 40px;
    
}
.header-right a{
    text-decoration: none;
    color: var(--color-secundario);
    
}
.header-right a:hover {
    color: var(--color-principal);
}
.s1{
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.s1-wrp{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.s1-wrp-right{
    width: 100%;
}
.s1-wrp img{
    width: 100%;
    max-width: 600px;

}
.s1-wrp-left{
    width: 100%;
}
.s1-wrp-left p{
    color: var(--color-secundario);
    margin-bottom: 20px;
    line-height: 34px;
}
.s1-wrp-left h2{
    color: var(--color-principal);
    font-size: 38px;
    margin-bottom: 20px;
}
.s1-wrp-left span{
    color: var(--color-principal);
}
.s1-wrp-left h3{
    color: var(--color-secundario);
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;

}
.s1-wrp-left button{
    background-color: #0d92af;
    display: flex;
    border-radius: 5px;
    width: 175px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--color-secundario);
    border: 2px solid #0872bf;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px 0px rgba(255,255,255, 0.25);
}
.s1-wrp-left button:hover{
    background-color: var(--color-principal);
}
.s1-wrp-left-redes{
    display: flex;
    gap: 10px;
}
.myServices {
    display: flex;
    justify-content: center;
    align-items: center;
    
    align-content: space-around;
    flex-direction: column;
}


.myServices p{
    color: var(--color-secundario);
    font-size: 24px;
    text-align: center;
}  

.myServices h2{
    color: var(--color-principal);
    font-size: 40px;
    
}
.viñetas{
    display: flex;
    color: var(--color-secundario);
    justify-content: space-between;

}
.viñetas div .tituloViñeta{
    
    font-size: 1.6rem;
}
.viñetas div  p{
    font-size: 1.25rem;
    text-align: justify;
    display: flex;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 10px;
    
}
.viñetas div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30rem;
    text-align: center;
    gap: 2.25rem;
    border: var(--color-principal) solid;
    
    box-shadow: 0px 4px 20px rgba(93, 173, 236, 0.23);
    border-radius: 2.6rem;
    background-image: linear-gradient rgba((#0B467C,#37536C ));
}
.s3-Projects{
    display: flex;
    justify-content: center;
    font-size: 40px;
    
}
.s3-Projects p{
    color: var(--color-secundario);
    margin-right: 5px;
}
.s3-Projects span{
    color: var(--color-principal);
    margin-left: 5px;
}
.s3-ProjectsTexto{
    color: var(--color-secundario);
    font-size: 23px;
    display: flex;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
}
.s3-ProjectsViñetas{
    display: flex;
    /* justify-content: space-between; */
   /*  overflow-x: hidden; */
}
.s3-ProjectsViñetas2{
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
}
.s3-Buttons{
display: flex;
justify-content: center;
}


.s3-ButtonLeft{
margin-right: 10px;
background-color:#0d92af;
color: var(--color-secundario);
font-size: 16px;
background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
height: 39px;
width: 93px;
border-radius: 10px;
}
.s3-ButtonRight{
margin-left: 10px;
background-color: #0d92af;
color: var(--color-secundario);
font-size: 16px;
background: linear-gradient(90deg, #0872BF 0%, #0D92AF 100%);
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
height: 39px;
width: 93px;
border-radius: 10px;
}
.s4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.s4 .Testimonials p{
    color: var(--color-secundario);
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.s4 .Customers p{
    color: var(--color-principal);
    font-size: 40px;
    margin-bottom: 45px;
}
.s4-Viñetas{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.s4-Buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.FooterPortfolio{
    display: flex;
    color: var(--color-secundario);
    font-size: 28px;
    margin-left: 100px;
}








/* @media screen and ( max-width: 1300px){
    main{
        padding: 0 20px;
    }
    .header{
        height: auto;
        padding: 20px;
    }
    .header-wrp{
        flex-direction: column;
        gap: 15px;
    }
    .s1-wrp{
        flex-direction: column;
        gap: 20px;
    }
    .s1-wrp-left{
        max-width: 100px;
    }
    .s1-wrp-left p{
        line-height: 24px;
    }
    .s1-wrp-left h3{
        margin-bottom: 20px;
    }
    .s1-wrp-left-redes{
        flex-direction: column;
    }
    .s1-wrp-right{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .s1-wrp-right img{
        width: 300px;
    }
} */